html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
}

p {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
}

main {
  display: block;
  box-sizing: inherit;
  width: 100%;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
}

main .navbar {
  position: fixed;
  width: 87.5%;
  height: 100px;
  top: 0;
  right: 0;
  background: #555;
}

@media only screen and (min-width: 641px) and (max-width: 1024px) {
  main .navbar {
    width: 75%;
  }
}

@media only screen and (min-width: 0px) and (max-width: 640px) {
  main .navbar {
    position: static;
    width: 100%;
  }
}

main .page {
  width: 87.5%;
  min-height: 100%;
  top: 100px;
  overflow: hidden;
  margin-left: 12.5%;
  background: #ccc;
}

@media only screen and (min-width: 641px) and (max-width: 1024px) {
  main .page {
    width: 75%;
    margin-left: 25%;
  }
}

@media only screen and (min-width: 0px) and (max-width: 640px) {
  main .page {
    position: static;
    width: 100%;
    margin-left: 0;
  }
}

.navbar ul.tabs {
  float: left;
  margin: 0;
  padding: 0;
}

.navbar ul.tabs li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.navbar ul.tabs li a {
  color: #fff;
  background: #333;
  text-decoration: none;
}

.navbar ul.tabs li a.active {
  color: #000;
  background: #fff;
}

.sidebar {
  display: block;
  position: fixed;
  width: 12.5%;
  height: 100%;
  left: 0;
  top: 0;
  background: #333;
  box-sizing: inherit;
}

@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .sidebar {
    width: 25%;
  }
}

@media only screen and (min-width: 0px) and (max-width: 640px) {
  .sidebar {
    position: static;
    width: 100%;
  }
}

.sidebar .dash-menu {
  display: block;
  box-sizing: inherit;
  margin: 25px 0;
  padding: 0;
  width: 100%;
}

.sidebar .dash-menu h3 {
  display: block;
  box-sizing: inherit;
  font-family: "Roboto Slab", serif;
  font-size: 16pt;
  font-weight: 700;
  color: #fff;
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
}

@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .sidebar .dash-menu h3 {
    font-size: 12pt;
  }
}

@media only screen and (min-width: 0px) and (max-width: 640px) {
  .sidebar .dash-menu h3 {
    font-size: 10pt;
  }
}

.sidebar .dash-menu ul {
  display: block;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sidebar .dash-menu ul li {
  display: block;
  box-sizing: inherit;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
}

.sidebar .dash-menu ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 10pt;
}

.sidebar .dash-menu ul li a i.fa {
  float: right;
  margin-top: 6px;
}

.workflow-container {
  display: block;
  box-sizing: border-box;
  width: 350px;
  height: 350px;
}

.workflow-container canvas {
  display: block;
  position: static;
}

.btn {
  border: none;
  font-weight: 400;
  font-size: 10pt;
  box-shadow: none;
  padding: 4px 8px;
}

.btn {
  .success {
    color: #fff;
    background: #29930f;
    &:hover {
      background: #2faa11;
    }
    &:active {
      background: #1c650a;
    }
  }

  .danger {
    color: #fff;
    background: #a70000;
    &:hover {
      background: #c10000;
    }
    &:active {
      background: #740000;
    }
  }

  .danger

  .danger

  .default {
    color: #fff;
    background: #499cb5;
  }

  .default:hover {
    background: #428ca3;
  }

  .default:active {
    background: #244e5a;
  }
}
