#chart-area {
	display: flex;
	margin-top: 100px;
	padding-top: 40px;
	padding: 20px;
	background-color: white;
	 -webkit-filter: drop-shadow(0.5px 0.5px 5px #9E9A9B );
        filter: drop-shadow(0.5px 0.5px 5px #9E9A9B);
}

