
#overview {
	display: flex;
	margin-top: 100px;
	padding-top: 40px;
	padding: 20px;
	background-color: white;
	 -webkit-filter: drop-shadow(0.5px 0.5px 5px #9E9A9B );
        filter: drop-shadow(0.5px 0.5px 5px #9E9A9B);
}

@media all and (max-width: 1024px) {
	#overview {
	
	margin-top: 200px;
	}

}

@media all and (max-width: 712px) {
	#overview {
	
	margin-top: 300px;
	}

}

@media all and (max-width: 640px) {
	#overview {
	
	margin-top: 200px;
	}

}