// VARIABLES 

$font:'Quicksand', sans-serif;
$fontWeight: 400;
$heading: 500;
$paragraph: 400;
$danger: #a70000;
$success: #CD7BB3;
$default: #499cb5;
$purple: #CD7BB3;
$whiteText: white;
$darkPurple: #6D4563;
$midPurple: #A86396;
$greyText: #6D6E71;
$veryDarkPurple: #5E3E58;
$information: #98AED7;

$bgSidebar: #333;
$bgNav: #333;
$bgBody: #555;

$lightText: #fff;
$darkText: #000;

$marginSmall: 200px;

$dark-color: #111;
$light-color: #eee;

